*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.boxes{
    width: 80%;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 50%;
    height: 350px;
    transition: .5s;
}

.box:hover{
    position: relative;
    transform: scale(.9);
}

.box:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #023241;
    opacity: 0.7; 
}

.box.stationary{
    background-image: url(../image/portfolio-1.jpg);
}

.box.ice-cream{
    background-image: url(../image/portfolio-2.jpg);
}

.box.strawberries{
    background-image: url(../image/portfolio-3.jpg);
}

.box.workspace{
    background-image: url(../image/portfolio-4.jpg);
}

.box .content{
    width: 80%;
    height: 20px;
    margin: auto;
    padding: 30px;
}

.box .content p{
    color: white;
    font-size: 20px;
}

.box .content h5{
    font-size: 10px;
    color: white;
}

